<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h2>HOME PAGE</h2>
<hr>
<p>
Welcome to the Home PAge
</p>

<p>
    User : <span sec:authentication="principal.username"></span>
    <br><br>
</p>
<p>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<div sec:authorize="hasRole('MANAGER')">
<hr>
<p>
    <a  th:href="@{/leaders}"> Leadership Meeting</a>
    Only for manager peeps
</p>
<hr>
</div>

<div sec:authorize="hasRole('ADMIIN')">
<hr>
<p>
    <a  th:href="@{/systems}"> IT Systems Meeting</a>
    Only For Admin peeps(peoples)

</p>
<hr>

</div>


<form action="#" th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

</body>
</html>