<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>THYMELEAF DEMO</title>
<!--    <link rel="stylesheet"-->
<!--          th:href="@{/css/demo.css}"/>-->
</head>
<body>
<!--    <p th:text="'Time on the server is ' + ${theDate}" class="funny"/>-->

Hello World of Spring

<br><br>
Student name : <span th:text="${param.studentName}"/>
<!--The studentName parameter comes from the form .-->
<br><br>

The message: <span th:text="${message}"/>
</body>
</html>